body {
    background-color: #F8F7FF;
    text-align: center;
    font-family: fantasy;
    .secret {
        opacity: 0.5;
    };

}/*or any color of your choosing*/
ul {
    list-style-type: none;
}


table, th, td {
    border: 1px solid gray;
}

/* Center the table on the page */
table {
    margin: auto;
}